version: "3.9"

services:
    api-gateway:
        build: ./gateway
        image: api-gateway
        ports:
            - 8080:8080
        depends_on:
            - users-service
            - movies-service
        networks: 
            - front-network
        command: java -jar /app.jar

    users-service:
        build: ./users-service
        image: users-service
        ports:
            - 5001:5001
        restart: on-failure
        depends_on: 
            - rabbitmq
        networks: 
            - front-network
            - back-network
        command: node index.js
        
    movies-service:
        build: ./movies-service
        image: movies-service
        ports:
            - 5002:5002
        networks: 
            - front-network
        command: node index.js
        
    email-service:
        build: ./email-service
        image: email-service
        restart: on-failure
        depends_on: 
            - rabbitmq
        networks: 
            - back-network
        command: node index.js

    rabbitmq:
        image: rabbitmq:3-management
        ports:
            - 5672:5672
            - 15672:15672
        networks: 
            - back-network
        healthcheck:
            test: [ "CMD", "nc", "-z", "localhost", "5672" ]
            interval: 5s
            timeout: 15s
            retries: 1

networks:
    front-network:
    back-network:

# docker run -d -p 6379:6379 redis:6.2.3-alpine